<div class="mt-3">
    <ng-container *ngIf="cartList && cartList.cartItems.length > 0; else emptyCart" > 
        <table class="table" style="width: 90%; text-align: center; margin: 0 auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Images</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartList.cartItems| paginate:{itemsPerPage: tabSize,
                    currentPage: page,
                    totalItems: count},index as i">
                    <td>{{ i + 1 }}</td>
                    <td><img src="{{ item.productId.images }}" width="50px" height="50px"></td>
                    <td class="text-cart">{{ item.productId.name }}</td>
                    <td>{{ formatCurrency(item.productId.price) }}</td>
                    <td>
                        <button (click)="handleBot(item.productId._id, item.quantity, item.productId.price)"
                            class="px-[12px] py-[1px] rounded border-[1px] min-w-[32px]">-</button>
                        <input type="number" disabled [value]="item.quantity"
                            class="mx-[6px] w-[70px] pl-[12px] rounded bg-[#eeeeee]">
                        <button (click)="handleThem(item.productId._id, item.quantity, item.productId.price)"
                            class="px-[12px] py-[1px] rounded border-[1px] min-w-[32px]">+</button>
                    </td>
                    <td>{{ formatCurrency(item.productId.price * item.quantity) }}</td>
                    <td><button (click)="handleRemove(item._id!)" class="btn btn-danger">Xóa</button></td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top: 30px; width: 100%; text-align: center;">
            Tổng thanh toán: <span class="text_left" style="font-size: 20px;">{{ formatCurrency(totalPrice) }}</span>
            <button (click)="handleOrder()" class="text_left btn btn-success">Thanh toán</button>
        </div>
        <div style="text-align: center;margin: 16px 0px;">
            <a routerLink="/" class="text_left btn btn-primary">Tiếp tục mua hàng</a>
        </div>
        <div *ngIf="cartList.cartItems.length > tabSize" >
            <pagination-controls class="pagination" previousLabel="Truoc" nextLabel="tiep" (pageChange)="onHandlesPage($event)"></pagination-controls>
       </div>
    </ng-container>
    
    <ng-template #emptyCart>
        <div style="text-align: center; margin: 10px 0px 40px 0px; background-color: rgb(226, 167, 167);">
            Giỏ hàng rỗng,  <a href="/" style="color: rgb(70, 70, 211); text-decoration: underline;">mua hàng tại đây!</a>
        </div>
    </ng-template>
    
</div>