<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto ">
      <form [formGroup]="categoryForm" (ngSubmit)="onhandledSubmit()" action=""
        class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
        <p class="text-center text-lg font-medium">Thêm Sản Phẩm</p>
  
        <div>
          <label for="Name" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">Tên sản phẩm</label>
  
          <div class="relative">
            <input type="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
              rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
               p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="name"
              placeholder="Tên sản phẩm">
          </div>
          <div class="text-red-500" *ngIf="categoryForm.get('name')?.hasError('required') && submitValue">Trường bắt buộc,
            vui lòng nhập dữ liệu.</div>
  
          <label for="author" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">Tác Giả</label>
  
          <div class="relative">
            <input type="author" name="author" id="author" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
              rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
               p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="author"
              placeholder="Tác Giả">
          </div>
          <div class="text-red-500" *ngIf="categoryForm.get('author')?.hasError('required') && submitValue">Trường bắt
            buộc,
            vui lòng nhập dữ liệu.</div>
  
  
          <label for="price" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">Giá tiền</label>
  
          <div class="relative">
            <input type="price" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
              rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
               p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="price"
              placeholder="Giá tiền">
          </div>
          <div class="text-red-500" *ngIf="categoryForm.get('price')?.hasError('required') && submitValue">Trường bắt
            buộc,
            vui lòng nhập dữ liệu.</div>
  
          <label for="description"
          class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">Mô tả</label>

        <div class="relative">
          <input type="description" name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
             p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="description"
            placeholder="Mô tả">
        </div>
        <div class="text-red-500" *ngIf="categoryForm.get('description')?.hasError('required') && submitValue">Trường
          bắt buộc,
          vui lòng nhập dữ liệu.</div>
  
          <label for="HeadlineAct" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">
            Trạng thái
          </label>
  
          <select name="HeadlineAct" id="HeadlineAct" formControlName="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
            rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
             p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="">Vui lòng chọn Trạng thái</option>
            <option value="Còn Hàng">Còn Hàng</option>
            <option value="Sắp có hàng">Sắp có hàng</option>
            <option value="Đang cập nhập">Đang cập nhập</option>
            <option value="Đã Hết hàng">Đã hết hàng</option>
          </select>
          <div class="text-red-500" *ngIf="categoryForm.get('status')?.hasError('required') && submitValue">Trường
            bắt buộc,vui lòng nhập dữ liệu.</div>
          <label for="HeadlineAct" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">
            Hình ảnh
          </label>
          <ngx-dropzone (change)="onSelectImage($event)" formControlName="images">
            <h1 style="margin-left: 5px; font-size: 11px;">Upload Main</h1>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemovem(f)">
                <ngx-dropzone-label>
                    {{ this.url| async}}
                    {{f.name}}
                </ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
  
            <!-- <label for="HeadlineAct" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">
              Hình ảnh
            </label>
            <div class="text-red-500" *ngIf="categoryForm.get('images')?.hasError('required') && submitValue">Trường bắt
              buộc,
              vui lòng nhập dữ liệu.</div> -->
            
          <div>
            <label for="HeadlineAct" class="block mb-2 m-1 text-sm font-medium text-gray-900 dark:text-white">
              Danh mục
            </label>
  
            <select name="HeadlineAct" id="HeadlineAct" formControlName="categoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
                  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full
                   p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option value="">Vui lòng chọn danh mục</option>
              <option *ngFor="let item of category" [ngValue]="item._id">
                {{item.name}}
              </option>
            </select>
          </div>        
        </div>
        
        
        <button type="submit" class="mt-4 rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
          Thêm
        </button>
      </form>
    </div>
  </div>