<div class="relative mt-5 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Số lượng danh mục
                </th>
                <th scope="col" class="px-6 py-3">
                    số lượng sản phẩm
                </th>
                <th scope="col" class="px-6 py-3">
                    số lượng user
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row"
                    class="category_item px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{categoryCount}}
                </th>
                <th scope="row"
                    class="category_item px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{productsCount}}
                </th>
                <th scope="row"
                    class="category_item px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{userCount}}
                </th>
            </tr>

        </tbody>
    </table>

</div>